[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-csharp"]
	path = .vim/bundle/vim-csharp
	url = git@github.com:ermagana/vim-csharp.git
