# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.vim/undo/
.vim/swaps/

# Visual Studio General Ignores
[Bb]in/
[Oo]bj/
# solution user options
*.suo
specs/
